[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
pytest-django = "*"
psycopg2 = "*"
django-rest-knox = "*"
whitenoise = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
